		<footer>
			<div class="footer">
				<a class="redsoc" href="#"><i class="fa-brands fa-facebook"></i></a>
				<a class="redsoc" href="#"><i class="fa-brands fa-twitter"></i></a>
				<a class="redsoc" href="#"><i class="fa-brands fa-instagram"></i></a>
				<a class="redsoc" href="#"><i class="fa-brands fa-pinterest"></i></a>
				<a class="redsoc" href="#"><i class="fa-brands fa-linkedin-in"></i></a>
				<p>Derechos reservados @2024</p>
			  </div>
		</footer>
	</body>
</html>