<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%= tituloDePagina %></title>
		<style type="text/css">
			article{display: flex;}
			h4{width: 200px;}
			#listado{display: contents;}
			a{text-decoration: none; color: black;}
		</style>
		<!--link rel="stylesheet" type="text/css" href="/css/estilos.css"-->
	</head>